{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <h2>Sorry, that page doesn't exist :( We will fix it. Thanks for notifying </h2>
	<center><a href="/"><button class="btn btn-large btn-inverse">Go back to Home page</button></a></center>
    
  </div>
	<p></p>
  <div class="row">
    <div class="span12">
      <img
          src="http://imgs.xkcd.com/comics/wisdom_of_the_ancients.png"
          class="img-error"
          alt="xkcd: Wisdom of the Ancients"
          title="xkcd: Wisdom of the Ancients"
        >
    </div>
  </div>
{% endblock %}
