<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/extra.css" rel="stylesheet" type="text/css">
	<title>RajiniNation</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/vote.js"></script>
	<script type='text/javascript' src="/static/bootstrap/js/bootstrap.min.js"></script>
    <meta name="google-site-verification" content="M3-4zWh_lcuB6WmG5Rmwe0yK197S55HAM373DjRQ7EU" />
	{% include 'metascripts.html' %}
	{% include 'googleanalyticsscript.html' %}
</head>

<body>
	
	
	<div class="span8 offset3">
	
		<button class="btn btn-large btn-block btn-primary btn-inverse dummy" href="#" type="button">RajiniNation is under development</button>
		
		
		<img src="/static/img/powerstar-cartoon.jpg" class="img-polaroid">
	
	
	
	</div>
	
	
</body>
</html>