<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">&times;</a>
		<h3 id="myModalLabel">You need to login via one of these</h3>
	</div>
	<div class="modal-body">
		<div class="row pagination-centered">
		<div class="spacer"><a class="btn" href="/auth/facebook" rel="nofollow"><img src="/static/img/Loginlogo/facebook-logo-large.png" alt="Facebook Logo"></a></div>
		<div class="spacer"><a class="btn" href="/auth/twitter" rel="nofollow"><img src="/static/img/Loginlogo/twitter-logo-large.png" alt= "Twitter Logo" ></a></div>
		<div class="spacer"><a class="btn" href="/auth/google" rel="nofollow"><img src="/static/img/Loginlogo/google-logo-large.png" alt="Google Logo"></a></div>
		</div>
		<div class="muted"><small>We dont store your password and email</small></div>
		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		
	</div>
	</div>
	
	<div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-heade">	
		<a class="close" data-dismiss="modal" href="#">&times; </a>
		<h3 style="margin: 10px 10px">  Upload a funny picture</h3>
		
	</div>
	<div class="span4">
		
		<div>
		<a href="/new:P">
			<button class="btn btn-block boxbtn button-heightsmall" href="/new:P">
			
			
				<div class="icon">
					<div class="screen"></div>
				</div>
				<p><span class="success">browse</span> from computer</p>
			
			
			</button>
		</a>
		</div>
		<div>
		<a href="/new:P/web">
			<button class="btn btn-block boxbtn button-heightsmall">
				<div class="icon" >
					<div class="cloudUp"></div>
					<div class="cloudUpArrow"></div>
				</div>
				<p>Enter URL to upload</p>
				
			</button>
		</a>
		</div>
		<p></p>
	</div>
	<div class="span3 margin-zero">
		<a href="/new:P/edit">
		<button class="btn btn-block boxbtn button-heightbig" href="/new:P/edit">
		<div class="icon">
		<div class="bulb_glass"></div>
		<div class="bulb_holder"></div>
	</div>
		<p>Generate an Image </p>
		</button>
		</a>
	</div>
	
	</div>
	